[Unit]
Description=Assalom_Havo_bot
After=network.target

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/Assalom_havo_bot
ExecStart=/home/ubuntu/Assalom_havo_bot/venv/bin/python3 /home/ubuntu/Assalom_havo_bot/bot.py
Restart=always

[Install]
WantedBy=multi-user.target